@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
.md-header__topic,
.md-nav__title,
.md-nav__link,
.md-footer__title {
    font-family: 'Gaegu', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}